
	@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
	@import '../node_modules/bootstrap/scss/bootstrap.scss';
	@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Montserrat:ital,wght@1,500&display=swap');



	// Zmienne
	$blueColor: lightgray;
	$fontOscr: 'Lato', sans-serif;
	$fontWeeding: 'Comfortaa', cursive;
	$fontFooter: 'Montserrat', sans-serif;
	$kamcia: #3f3c40;
	$nowyBack:linear-gradient(to right, #868f96 0%, #596164 100%);


	.App{
		background: white;
		position: relative;
		animation: change 5s ease-in-out infinite;
		overflow: hidden;
		font-family: $fontOscr;
		a:hover{
			color: purple;
		
		}
	}
	
	.footerstyle{
		font-family: $fontFooter;
	}
	.LogoFace{
		
		width: 26%;
		height: auto;
		padding: 4%;
		
	}
	
	.Oferta{
		color: white;
	}
	.Weeding{
		font-family: $fontWeeding;
		font-size: 25px;
	}
	.NavMenMob{
		text-decoration: none;
		list-style: none;
		width: 96% !important;
		line-height: normal;
		float: left;
		padding: 2%;
	}
	.OpenMenuMob{
		 display: block;
   		 width: 100%;
   		 height: auto;
   		 left: 0;
    	 position: absolute;
   		 top: 10vh;
		 background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
	}
	.nameh3{
	    font-family: "Lato", sans-serif;
    	margin-bottom: 2%;
   	 	color: black;
    	font-size: 20px;
  	    margin-top: 4%;
  	    font-weight: bold;
 	    background: #e6e4e4;
 	    border-radius: 10px;
	}
	.OscMov{
		width: 100% !important;
   	    // height: 100% !important;

	}
	.LoadMov{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: white;
		z-index: 9999;
	}
	.ZaladujGifa {
		width: 40%;
		position: absolute;
		left: 30%;
		top: 20%;
		margin: 0 auto;
	}
	.FilmGlowny{
		position: relative;
		width: 100%;
		height: 100%;
		display: block;
	}
	.MovieSpace{
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
	}
	.loadingMovie{
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: red;
		z-index: 99999999;
	}
	.SlubPrawa{
		position: relative;
	}
	.GifMovCart{
		position: relative;
		width: 100%;
		height: 100%;
		min-height: 75vh;
		.Gifek{
			top: 10%;
			left: 40%;
			width: 20%;

		}
	}
	.cartMov{
		h2{
				margin-top: 14vh;
		}
		min-height: 75vh;
		height: 100%;
		width: 100%;
		position: relative;
		.split{
			width: 100% !important;
			margin: 0 auto;
			position: relative;
			.LoadMoviesPart{
				position: absolute;
  			    background: #ffffffde;
   			    top: 0;
   			    height: 100%;
			}
			div{
				width: 100% !important;
			}
		}
	}
	.LoadMov2{
		
			position: absolute;
			top: 0;
			height: 100%;
			z-index: 99999;
		
	}
	.LogoInsta{    
		width: 26%;
		padding: 4%;;
		}
	.ForemkaKontakty{
		label{
			width: 99%;
			float: left;
			text-align: center;
		}}

	@keyframes change{
		0%{
			background-position: 0 50%;
		}
		50%{
			background-position: 100% 50%;
		}
		100%{
			background-position: 0 50%;
		}
	}
	.LogoVimeo{
		width: 27%;
    	height: auto;
	}
	body {
	margin: 0;
	padding: 0;
	background: $blueColor;
	font-family: $fontOscr;
	}
	.LoadSlub{

		img{
			width: 50%;
			height: auto;
		}

	}
	.Mega{
			position: relative;
			padding-top: 10vh;
		
	}
	
	.ForemkaKontakty{
		width: 50%;
		float: left;
	}
	.BlokImg{
		width: 75%; 
		margin: 0 auto;
	}
	.TekstSlub{
		background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
	}
	.OscrImg{
		width: 50%;
		margin: 0 auto;
		height: auto;
		position: relative;
		display: block;
	}
	.partTwo{
		width: 50%;
		float: left;
	}
	.Mapka{
		width: 100%;
    	float: left;
}
	.WaitLoadKamil{
		font-size: 30px;
		min-height: 100%;
		max-height: 100%;
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 99999;
		left: 0px;
		top: 0px;
		opacity: 1;
		background: white;
	}
	.AboutUss{
		background-image: url(/static/media/Still001.3cbe197a.jpg);
    	background-size: cover;
    	height: 100%;
    	min-height: 78vh;
	}
	code {

	font-family: $fontOscr;
	}
	.Oscr{
		width: 90%;
		padding: 10%;
		margin: 0 auto;
		padding-bottom: 2%;
		div{
			background-color: white;
			opacity: 0.9;
			border-radius: 10px;
		}
	
	}
	.FooterBasi{
		height: 25vh;
	}
	.HomePage{
		height: 75vh;
		top: 0;
		left: 0;
	}
	.HideBack{
    top: 0px;
    left: 0px;
    z-index: 9;
    opacity: 0;
    width: 100%;
	height: 100%;
	position: absolute;
	}
	// .ServiceForOscar{
	// 	// background-image: url("./Components/Design/Still001.jpg");
	// 	// background-size: cover;
	// }
	.FilmFront{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		
	}
	.ContactSlub{
		text-align: center;
		margin: 0 auto;
		padding: 2%;
		min-height: 300px;
		height: auto;
		display: grid;
		position: relative;
		margin-bottom: 2%;
		background: none;
		border-radius: 8px;
		.InsideCont{
			display: block;
			width: 90%;
    		text-align: center;
   			margin: 0 auto;
    		background: white;
    		margin-top: 10vh;
    		border-radius: 10px;
		}
	}
	.LogoOsk{
	width: 100%;
    background: none;
    padding: 0%;
    border-radius: 10px;

	}
	.Mapka{
		
			margin-top: 2%;
		
	}
	.Logosy{
		
		width: 10%;
		margin: 1%;
		float: left;
		
	}
	.NavMenuOskar{
	position: fixed;
    display: flex;
	z-index: 99999;
	height: auto;
    left: 0;
    top: 0;
    width: 100%;
    background: #ffffffde;
	}
	.fly{
		
		font-family: $fontOscr;
		font-size: 16px;
	}
	.KamilMov{
		width: 100%;
		margin-top: 10%;
		display: inline-block;
		list-style: none;
		margin: 0 auto;
		padding: 0;
		transform: translateX(-100%);

			li{
				width: 100%;
				padding: 2%;
				float: left;
				a{
					text-decoration: none;
					width: 100%;
   					height: auto;
					display: grid;
					img{		
							width: 60%;
							height: auto;
				     		margin: 0 auto;	
					}
				}
				a:hover{
					text-decoration: none;
				}
				
				iframe{
					display: block;
					max-width: 100%;
					width: 100%;
					float: left;
					max-height: 400px;
				}
			}
		
	}

    .FotkaParalax{
		width: 100%;
		max-width: 100%;
		position: relative;
		background-size: cover;
		background-attachment: fixed;
		img{
			width: 100%;
			height: auto;
		}
	}
	.OscrSl{
		position: absolute;
		width: 100%;
		top: 15%;
		font-size: 30px;
		color: lightgrey;
		font-weight: bold;
	}
	.FooterBasi{
		background: $nowyBack;
		// background-blend-mode: screen;
		position: inherit;
		// bottom: 0%;
		// width: 100%;
		// height: 22vh;
		// min-height: 70px;
		z-index: 999;
	}
	.MapkaKamila{
		display: block;
		width: 100%;
		height: auto;
		min-height: 100px;
		div{
			div:nth-child(1){
				min-height: 250px;
			}
			div:nth-child(2){
				max-height: 50px;
			}
			
		}
	}
	.OskarOferta{
		width: 100%;
		height: auto;
		height: 75vh !important;
		margin-top: 0;
		margin-bottom: 0%;
		h3{
			padding-top: 15%;
		}
	}
	.SignatureYear{
		width: 100%;
		text-align: center;
		color: lightgray;
		font-size: 15px;
	}
	.MenuKamilB{
		max-height: 10vh;
		width: 80%;
		float: left;
		margin: 0 auto;
	ul{
		li{
			text-decoration: none;
			list-style: none; 
			width: 20%;
			line-height: normal;
			float: left;
			padding: 10px;
			a{
			text-decoration: none;
			text-align: center;
			color: $kamcia;
			font-weight: bold;
			font-size: 20px;
			}
		
			
		}
	}

	}

	.st0{enable-background:new    ;}
		.st1{clip-path:url(#SVGID_2_);enable-background:new    ;}
		.st2{fill:#C1C1C1;}
		.st3{fill:#C4C4C4;}
		.st4{fill:#C7C7C7;}
		.st5{fill:#CACACA;}
		.st6{fill:#CDCDCD;}
		.st7{fill:#D0D0D0;}
		.st8{fill:#D4D4D4;}
		.st9{fill:#D7D7D7;}
		.st10{fill:#DADADA;}
		.st11{fill:#DDDDDD;}
		.st12{fill:#E0E0E0;}
		.st13{fill:#E3E3E3;}
		.st14{fill:#E6E6E6;}
		.st15{fill:#E8E8E8;}
		.st16{fill:#BEBEBE;}
		.st17{clip-path:url(#SVGID_4_);enable-background:new    ;}
		.st18{fill:#1A1A1A;}
		.st19{fill:#2A2A2A;}
		.st20{clip-path:url(#SVGID_6_);enable-background:new    ;}
		.st21{clip-path:url(#SVGID_8_);enable-background:new    ;}
		.st22{clip-path:url(#SVGID_10_);enable-background:new    ;}
		.st23{fill:#BBBBBB;}
		.st24{fill:#B8B8B8;}
		.st25{fill:#B5B5B5;}
		.st26{fill:#B2B2B2;}
		.st27{fill:#AFAFAF;}
		.st28{fill:#ABABAB;}
		.st29{fill:#A8A8A8;}
		.st30{fill:#A5A5A5;}
		.st31{fill:#A2A2A2;}
		.st32{fill:#9F9F9F;}
		.st33{fill:#9C9C9C;}
		.st34{clip-path:url(#SVGID_12_);enable-background:new    ;}
		.st35{clip-path:url(#SVGID_14_);enable-background:new    ;}
		.st36{clip-path:url(#SVGID_16_);enable-background:new    ;}
		.st37{clip-path:url(#SVGID_18_);enable-background:new    ;}
		.st38{clip-path:url(#SVGID_20_);enable-background:new    ;}
		.st39{clip-path:url(#SVGID_22_);enable-background:new    ;}
		.st40{fill:#D2D2D2;}
		.st41{clip-path:url(#SVGID_24_);enable-background:new    ;}
		.st42{clip-path:url(#SVGID_26_);enable-background:new    ;}
		.st43{clip-path:url(#SVGID_28_);enable-background:new    ;}
		.st44{fill:#CFCFCF;}
		.st45{fill:#ACACAC;}
		.st46{clip-path:url(#SVGID_30_);enable-background:new    ;}
		.st47{clip-path:url(#SVGID_32_);enable-background:new    ;}
		.st48{clip-path:url(#SVGID_34_);enable-background:new    ;}
		.st49{clip-path:url(#SVGID_36_);enable-background:new    ;}
		.st50{clip-path:url(#SVGID_38_);enable-background:new    ;}
		.st51{fill:#CECECE;}
		.st52{clip-path:url(#SVGID_40_);enable-background:new    ;}
		.st53{clip-path:url(#SVGID_42_);enable-background:new    ;}
		.st54{clip-path:url(#SVGID_44_);enable-background:new    ;}
		.st55{clip-path:url(#SVGID_46_);enable-background:new    ;}
		.st56{clip-path:url(#SVGID_48_);enable-background:new    ;}
		.st57{clip-path:url(#SVGID_50_);enable-background:new    ;}
		.st58{clip-path:url(#SVGID_52_);enable-background:new    ;}
		.st59{clip-path:url(#SVGID_54_);enable-background:new    ;}
		.st60{clip-path:url(#SVGID_56_);enable-background:new    ;}
		.st61{clip-path:url(#SVGID_58_);enable-background:new    ;}
		.st62{fill:#D1D1D1;}
		.st63{clip-path:url(#SVGID_60_);enable-background:new    ;}
		.st64{clip-path:url(#SVGID_62_);enable-background:new    ;}
		.st65{clip-path:url(#SVGID_64_);enable-background:new    ;}
		.st66{clip-path:url(#SVGID_66_);enable-background:new    ;}
		.st67{clip-path:url(#SVGID_68_);enable-background:new    ;}
		.st68{clip-path:url(#SVGID_70_);enable-background:new    ;}
		.st69{clip-path:url(#SVGID_72_);enable-background:new    ;}
		.st70{clip-path:url(#SVGID_74_);enable-background:new    ;}
		.st71{clip-path:url(#SVGID_76_);enable-background:new    ;}
		.st72{clip-path:url(#SVGID_78_);enable-background:new    ;}
		.st73{clip-path:url(#SVGID_80_);enable-background:new    ;}
		.st74{clip-path:url(#SVGID_82_);enable-background:new    ;}
		.st75{clip-path:url(#SVGID_84_);enable-background:new    ;}
		.st76{clip-path:url(#SVGID_86_);enable-background:new    ;}
		.st77{clip-path:url(#SVGID_88_);enable-background:new    ;}
		.st78{clip-path:url(#SVGID_90_);enable-background:new    ;}
		.st79{clip-path:url(#SVGID_92_);enable-background:new    ;}
		.st80{fill:#B4B4B4;}
		.st81{clip-path:url(#SVGID_94_);enable-background:new    ;}
		.st82{clip-path:url(#SVGID_96_);enable-background:new    ;}
		.st83{clip-path:url(#SVGID_98_);enable-background:new    ;}
		.st84{clip-path:url(#SVGID_100_);enable-background:new    ;}
		.st85{clip-path:url(#SVGID_102_);enable-background:new    ;}
		.st86{clip-path:url(#SVGID_104_);enable-background:new    ;}
		.st87{clip-path:url(#SVGID_106_);enable-background:new    ;}
		.st88{clip-path:url(#SVGID_108_);enable-background:new    ;}
		.st89{clip-path:url(#SVGID_110_);enable-background:new    ;}
		.st90{clip-path:url(#SVGID_112_);enable-background:new    ;}
		.st91{clip-path:url(#SVGID_114_);enable-background:new    ;}
		.st92{clip-path:url(#SVGID_116_);enable-background:new    ;}
		.st93{clip-path:url(#SVGID_118_);enable-background:new    ;}
		.st94{clip-path:url(#SVGID_120_);enable-background:new    ;}
		.st95{clip-path:url(#SVGID_122_);enable-background:new    ;}
		.st96{clip-path:url(#SVGID_124_);enable-background:new    ;}
		.st97{clip-path:url(#SVGID_126_);enable-background:new    ;}
		.st98{clip-path:url(#SVGID_128_);enable-background:new    ;}
		.st99{clip-path:url(#SVGID_130_);enable-background:new    ;}
		.st100{clip-path:url(#SVGID_132_);enable-background:new    ;}
		.st101{clip-path:url(#SVGID_134_);enable-background:new    ;}
		.st102{clip-path:url(#SVGID_136_);enable-background:new    ;}
		.st103{clip-path:url(#SVGID_138_);enable-background:new    ;}
		.st104{clip-path:url(#SVGID_140_);enable-background:new    ;}
		.st105{clip-path:url(#SVGID_142_);enable-background:new    ;}
		.st106{clip-path:url(#SVGID_144_);enable-background:new    ;}
		.st107{clip-path:url(#SVGID_146_);enable-background:new    ;}
		.st108{clip-path:url(#SVGID_148_);enable-background:new    ;}
		.st109{clip-path:url(#SVGID_150_);enable-background:new    ;}
		.st110{clip-path:url(#SVGID_152_);enable-background:new    ;}
		.st111{clip-path:url(#SVGID_154_);enable-background:new    ;}
		.st112{clip-path:url(#SVGID_156_);enable-background:new    ;}
		.st113{clip-path:url(#SVGID_158_);enable-background:new    ;}
		.st114{clip-path:url(#SVGID_160_);enable-background:new    ;}
		.st115{clip-path:url(#SVGID_162_);enable-background:new    ;}
		.st116{clip-path:url(#SVGID_164_);enable-background:new    ;}
		.st117{clip-path:url(#SVGID_166_);enable-background:new    ;}
		.st118{clip-path:url(#SVGID_168_);enable-background:new    ;}
		.st119{clip-path:url(#SVGID_170_);enable-background:new    ;}
		.st120{clip-path:url(#SVGID_172_);enable-background:new    ;}
		.st121{clip-path:url(#SVGID_174_);enable-background:new    ;}
		.st122{clip-path:url(#SVGID_176_);enable-background:new    ;}
		.st123{clip-path:url(#SVGID_178_);enable-background:new    ;}
		.st124{clip-path:url(#SVGID_180_);enable-background:new    ;}
		.st125{clip-path:url(#SVGID_182_);enable-background:new    ;}
		.st126{clip-path:url(#SVGID_184_);enable-background:new    ;}
		.st127{clip-path:url(#SVGID_186_);enable-background:new    ;}
		.st128{clip-path:url(#SVGID_188_);enable-background:new    ;}
		.st129{clip-path:url(#SVGID_190_);enable-background:new    ;}
		.st130{clip-path:url(#SVGID_192_);enable-background:new    ;}
		.st131{clip-path:url(#SVGID_194_);enable-background:new    ;}
		.st132{clip-path:url(#SVGID_196_);enable-background:new    ;}
		.st133{clip-path:url(#SVGID_198_);enable-background:new    ;}
		.st134{fill:#E4E4E4;}
		.st135{clip-path:url(#SVGID_200_);enable-background:new    ;}
		.st136{clip-path:url(#SVGID_202_);enable-background:new    ;}
		.st137{clip-path:url(#SVGID_204_);enable-background:new    ;}
		.st138{clip-path:url(#SVGID_206_);enable-background:new    ;}
		.st139{clip-path:url(#SVGID_208_);enable-background:new    ;}
		.st140{clip-path:url(#SVGID_210_);enable-background:new    ;}
		.st141{clip-path:url(#SVGID_212_);enable-background:new    ;}
		.st142{clip-path:url(#SVGID_214_);enable-background:new    ;}
		.st143{fill:#CCCCCC;}
		.st144{clip-path:url(#SVGID_216_);enable-background:new    ;}
		.st145{clip-path:url(#SVGID_218_);enable-background:new    ;}
		.st146{clip-path:url(#SVGID_220_);enable-background:new    ;}
		.st147{clip-path:url(#SVGID_222_);enable-background:new    ;}
		.st148{clip-path:url(#SVGID_224_);enable-background:new    ;}
		.st149{clip-path:url(#SVGID_226_);enable-background:new    ;}
		.st150{fill:#9E9E9E;}
		.st151{clip-path:url(#SVGID_228_);enable-background:new    ;}
		.st152{clip-path:url(#SVGID_230_);enable-background:new    ;}
		.st153{clip-path:url(#SVGID_232_);enable-background:new    ;}
		.st154{clip-path:url(#SVGID_234_);enable-background:new    ;}
		.st155{clip-path:url(#SVGID_236_);enable-background:new    ;}
		.st156{clip-path:url(#SVGID_238_);enable-background:new    ;}
		.st157{fill:#CBCBCB;}
		.st158{clip-path:url(#SVGID_240_);enable-background:new    ;}
		.st159{clip-path:url(#SVGID_242_);enable-background:new    ;}
		.st160{clip-path:url(#SVGID_244_);enable-background:new    ;}
		.st161{clip-path:url(#SVGID_246_);enable-background:new    ;}
		.st162{clip-path:url(#SVGID_248_);enable-background:new    ;}
		.st163{clip-path:url(#SVGID_250_);enable-background:new    ;}
		.st164{clip-path:url(#SVGID_252_);enable-background:new    ;}
		.st165{clip-path:url(#SVGID_254_);enable-background:new    ;}
		.st166{clip-path:url(#SVGID_256_);enable-background:new    ;}
		.st167{clip-path:url(#SVGID_258_);enable-background:new    ;}
		.st168{clip-path:url(#SVGID_260_);enable-background:new    ;}
		.st169{fill:#9D9D9D;}
		.st170{clip-path:url(#SVGID_262_);enable-background:new    ;}
		.st171{clip-path:url(#SVGID_264_);enable-background:new    ;}
		.st172{clip-path:url(#SVGID_266_);enable-background:new    ;}
		.st173{fill:#DBDBDB;}
		.st174{clip-path:url(#SVGID_268_);enable-background:new    ;}
		.st175{clip-path:url(#SVGID_270_);enable-background:new    ;}
		.st176{clip-path:url(#SVGID_272_);enable-background:new    ;}
		.st177{clip-path:url(#SVGID_274_);enable-background:new    ;}
		.st178{clip-path:url(#SVGID_276_);enable-background:new    ;}
		.st179{clip-path:url(#SVGID_278_);enable-background:new    ;}
		.st180{clip-path:url(#SVGID_280_);enable-background:new    ;}
		.st181{clip-path:url(#SVGID_282_);enable-background:new    ;}
		.st182{clip-path:url(#SVGID_284_);enable-background:new    ;}
		.st183{clip-path:url(#SVGID_286_);enable-background:new    ;}
		.st184{clip-path:url(#SVGID_288_);enable-background:new    ;}
		.st185{clip-path:url(#SVGID_290_);enable-background:new    ;}
		.st186{clip-path:url(#SVGID_292_);enable-background:new    ;}
		.st187{clip-path:url(#SVGID_294_);enable-background:new    ;}
		.st188{clip-path:url(#SVGID_296_);enable-background:new    ;}
		.st189{clip-path:url(#SVGID_298_);enable-background:new    ;}
		.st190{clip-path:url(#SVGID_300_);enable-background:new    ;}
		.st191{clip-path:url(#SVGID_302_);enable-background:new    ;}
		.st192{clip-path:url(#SVGID_304_);enable-background:new    ;}
		.st193{clip-path:url(#SVGID_306_);enable-background:new    ;}
		.st194{clip-path:url(#SVGID_308_);enable-background:new    ;}
		.st195{fill:#D3D3D3;}
		.st196{clip-path:url(#SVGID_310_);enable-background:new    ;}
		.st197{clip-path:url(#SVGID_312_);enable-background:new    ;}
		.st198{clip-path:url(#SVGID_314_);enable-background:new    ;}
		.st199{clip-path:url(#SVGID_316_);enable-background:new    ;}
		.st200{clip-path:url(#SVGID_318_);enable-background:new    ;}
		.st201{clip-path:url(#SVGID_320_);enable-background:new    ;}
		.st202{clip-path:url(#SVGID_322_);enable-background:new    ;}
		.st203{clip-path:url(#SVGID_324_);enable-background:new    ;}
		.st204{clip-path:url(#SVGID_326_);enable-background:new    ;}
		.st205{clip-path:url(#SVGID_328_);enable-background:new    ;}
		.st206{clip-path:url(#SVGID_330_);enable-background:new    ;}
		.st207{clip-path:url(#SVGID_332_);enable-background:new    ;}
		.st208{clip-path:url(#SVGID_334_);enable-background:new    ;}
		.st209{clip-path:url(#SVGID_336_);enable-background:new    ;}
		.st210{clip-path:url(#SVGID_338_);enable-background:new    ;}
		.st211{clip-path:url(#SVGID_340_);enable-background:new    ;}
		.st212{clip-path:url(#SVGID_342_);enable-background:new    ;}
		.st213{clip-path:url(#SVGID_344_);enable-background:new    ;}
		.st214{clip-path:url(#SVGID_346_);enable-background:new    ;}
		.st215{clip-path:url(#SVGID_348_);enable-background:new    ;}
		.st216{clip-path:url(#SVGID_350_);enable-background:new    ;}
		.st217{clip-path:url(#SVGID_352_);enable-background:new    ;}
		.st218{clip-path:url(#SVGID_354_);enable-background:new    ;}
		.st219{clip-path:url(#SVGID_356_);enable-background:new    ;}
		.st220{clip-path:url(#SVGID_358_);enable-background:new    ;}
		.st221{clip-path:url(#SVGID_360_);enable-background:new    ;}
		.st222{clip-path:url(#SVGID_362_);enable-background:new    ;}
		.st223{clip-path:url(#SVGID_364_);enable-background:new    ;}
		.st224{clip-path:url(#SVGID_366_);enable-background:new    ;}
		.st225{clip-path:url(#SVGID_368_);enable-background:new    ;}
		.st226{clip-path:url(#SVGID_370_);enable-background:new    ;}
		.st227{clip-path:url(#SVGID_372_);enable-background:new    ;}
		.st228{clip-path:url(#SVGID_374_);enable-background:new    ;}
		.st229{clip-path:url(#SVGID_376_);enable-background:new    ;}
		.st230{clip-path:url(#SVGID_378_);enable-background:new    ;}
		.st231{clip-path:url(#SVGID_380_);enable-background:new    ;}
		.st232{clip-path:url(#SVGID_382_);enable-background:new    ;}
		.st233{clip-path:url(#SVGID_384_);enable-background:new    ;}
		.st234{clip-path:url(#SVGID_386_);enable-background:new    ;}
		.st235{clip-path:url(#SVGID_388_);enable-background:new    ;}
		.st236{clip-path:url(#SVGID_390_);enable-background:new    ;}
		.st237{clip-path:url(#SVGID_392_);enable-background:new    ;}
		.st238{clip-path:url(#SVGID_394_);enable-background:new    ;}
		.st239{clip-path:url(#SVGID_396_);enable-background:new    ;}
		.st240{clip-path:url(#SVGID_398_);enable-background:new    ;}
		.st241{clip-path:url(#SVGID_400_);enable-background:new    ;}
		.st242{clip-path:url(#SVGID_402_);enable-background:new    ;}
		.st243{clip-path:url(#SVGID_404_);enable-background:new    ;}
		.st244{clip-path:url(#SVGID_406_);enable-background:new    ;}
		.st245{clip-path:url(#SVGID_408_);enable-background:new    ;}
		.st246{clip-path:url(#SVGID_410_);enable-background:new    ;}
		.st247{clip-path:url(#SVGID_412_);enable-background:new    ;}
		.st248{clip-path:url(#SVGID_414_);enable-background:new    ;}
		.st249{clip-path:url(#SVGID_416_);enable-background:new    ;}
		.st250{clip-path:url(#SVGID_418_);enable-background:new    ;}
		.st251{clip-path:url(#SVGID_420_);enable-background:new    ;}
		.st252{clip-path:url(#SVGID_422_);enable-background:new    ;}
		.st253{clip-path:url(#SVGID_424_);enable-background:new    ;}
		.st254{clip-path:url(#SVGID_426_);enable-background:new    ;}
		.st255{clip-path:url(#SVGID_428_);enable-background:new    ;}
		.st256{clip-path:url(#SVGID_430_);enable-background:new    ;}
		.st257{fill:#E5E5E5;}
		.st258{clip-path:url(#SVGID_432_);enable-background:new    ;}
		.st259{clip-path:url(#SVGID_434_);enable-background:new    ;}
		.st260{clip-path:url(#SVGID_436_);enable-background:new    ;}
		.st261{clip-path:url(#SVGID_438_);enable-background:new    ;}
		.st262{clip-path:url(#SVGID_440_);enable-background:new    ;}
		.st263{clip-path:url(#SVGID_442_);enable-background:new    ;}
		.st264{clip-path:url(#SVGID_444_);enable-background:new    ;}
		.st265{clip-path:url(#SVGID_446_);enable-background:new    ;}
		.st266{clip-path:url(#SVGID_448_);enable-background:new    ;}
		.st267{clip-path:url(#SVGID_450_);enable-background:new    ;}
		.st268{clip-path:url(#SVGID_452_);enable-background:new    ;}
		.st269{clip-path:url(#SVGID_454_);enable-background:new    ;}
		.st270{clip-path:url(#SVGID_456_);enable-background:new    ;}
		.st271{clip-path:url(#SVGID_458_);enable-background:new    ;}
		.st272{clip-path:url(#SVGID_460_);enable-background:new    ;}
		.st273{clip-path:url(#SVGID_462_);enable-background:new    ;}
		.st274{clip-path:url(#SVGID_464_);enable-background:new    ;}
		.st275{clip-path:url(#SVGID_466_);enable-background:new    ;}
		.st276{clip-path:url(#SVGID_468_);enable-background:new    ;}
		.st277{clip-path:url(#SVGID_470_);enable-background:new    ;}
		.st278{clip-path:url(#SVGID_472_);enable-background:new    ;}
		.st279{clip-path:url(#SVGID_474_);enable-background:new    ;}
		.st280{clip-path:url(#SVGID_476_);enable-background:new    ;}
		.st281{clip-path:url(#SVGID_478_);enable-background:new    ;}
		.st282{clip-path:url(#SVGID_480_);enable-background:new    ;}
		.st283{clip-path:url(#SVGID_482_);enable-background:new    ;}
		.st284{clip-path:url(#SVGID_484_);enable-background:new    ;}
		.st285{clip-path:url(#SVGID_486_);enable-background:new    ;}
		.st286{fill:#A1A1A1;}
		.st287{clip-path:url(#SVGID_488_);enable-background:new    ;}
		.st288{clip-path:url(#SVGID_490_);enable-background:new    ;}
		.st289{clip-path:url(#SVGID_492_);enable-background:new    ;}
		.st290{clip-path:url(#SVGID_494_);enable-background:new    ;}
		.st291{clip-path:url(#SVGID_496_);enable-background:new    ;}
		.st292{clip-path:url(#SVGID_498_);enable-background:new    ;}
		.st293{clip-path:url(#SVGID_500_);enable-background:new    ;}
		.st294{clip-path:url(#SVGID_502_);enable-background:new    ;}
		.st295{clip-path:url(#SVGID_504_);enable-background:new    ;}
		.st296{clip-path:url(#SVGID_506_);enable-background:new    ;}
		.st297{clip-path:url(#SVGID_508_);enable-background:new    ;}
		.st298{clip-path:url(#SVGID_510_);enable-background:new    ;}
		.st299{clip-path:url(#SVGID_512_);enable-background:new    ;}
		.st300{clip-path:url(#SVGID_514_);enable-background:new    ;}
		.st301{clip-path:url(#SVGID_516_);enable-background:new    ;}
		.st302{clip-path:url(#SVGID_518_);enable-background:new    ;}
		.st303{clip-path:url(#SVGID_520_);enable-background:new    ;}
		.st304{clip-path:url(#SVGID_522_);enable-background:new    ;}
		.st305{clip-path:url(#SVGID_524_);enable-background:new    ;}
		.st306{clip-path:url(#SVGID_526_);enable-background:new    ;}
		.st307{clip-path:url(#SVGID_528_);enable-background:new    ;}
		.st308{clip-path:url(#SVGID_530_);enable-background:new    ;}
		.st309{clip-path:url(#SVGID_532_);enable-background:new    ;}
		.st310{clip-path:url(#SVGID_534_);enable-background:new    ;}
		.st311{enable-background:new    ;}
		.st312{fill:none;}
		.st313{fill:#E9D700;}
		.st314{fill:#EAD800;}
	.st315{fill:#C0B300;}
	.ListingNew{
		transform: translateX(-96%);
		li{
		
		list-style: none;
		width: 100% !important;
		line-height: normal;
		float: left;
		padding: 2%;
		}
	}
	.LogoKamila{
		// z-index: 99;
		// display: block;
		// width: 100%;
		// height: auto;
		// display: contents;
		// margin-left: 10%;
		// max-height: 80px;
		// opacity: 1;
		list-style: none;
		li{
			
				list-style: none;
				font-family: $fontFooter;
			
		}
			div{
				padding: 10px;
				margin: 0;
				float: left;
				height: 100px;
				width: 20% !important;
				min-height: 50px;
				color: white;
				p{
					text-align: center;
					vertical-align: middle;
					padding-top: 10%;
					margin: 0 auto;
					width: auto;
					color: black;
					font-family: $fontFooter;
				}
				a{
					width: 100%;
					color: black;
					display: block;
					
				}
			
			}
			div{
			
			svg{
			text-align: center;
    		margin: 0 auto;
    		width: 25%;
   			position: absolute;
    		left: 5%;
   			top: 10%;
			g{
				transform: scale(0.65);
			}
			
			}
			}
		}
		.svgmin{
			width: 10%;
			max-height: 30px;
			left: 2%;
			top: 10%;
			text-align: center;
			position: absolute;
		}
	@media all and (max-width:800px) {
		.HideOsc{
			display: none;
		}
		.NavMenuOskar {
			min-height: 10vh;
		}
		.MenuKamilBTwo{
			display: block;
		}
		.LogoOsk {
			width: 100%;
			background: none;
			padding: 0%;
			margin-top: 10%;
		}
		
	}

	@media all and (min-width:800px) {
		.MenuKamilBTwo{
			display: none;
		}
	}

	@media (min-width:1000px) {
		.LogoOsk {
			width: 60%;
		}
		.NavMenuOskar{
			height: 14vh;
		}
	
	}

	@media (min-width:2000px) {
		.LogoOsk {
			width: 40%;
		}

	}
	@media (max-width:580px) {

			.LogoKamila li {
				
				width: 33% !important;
			}
	}

	@media (max-width:940px) {
		.ForemkaKontakty {
			width: 100%;
		}
		.partTwo{
			width: 100%;
		}
		.Oscr{
			padding: 4%;
			width: 100%;
			margin-top:9%;
		}
		.TekstSlub{
			
			width: 100% !important;
			
		}
		.SlubPrawa{
			width: 100% !important;
		}
		.OskarOferta{
			padding-top: 5%;
		}
	
		
	}

	@media (max-width:440px){
		.Oscr{
			margin-top:14%;
		}
	}
	@media (min-width:1840px){
		.OskarOferta{
			h3{
				padding-top: 10%;
			}
			
		}
	}

	@media (min-width: 1000px)
	{
		.OskarOferta {
			margin-top: 0%;
		}
	}

